* {
    display: flex;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
        flex-direction: row;
        margin-top: 40px;
        font-size: 35px;
        align-items: center;
        span {
            flex-direction: row;
        }
    }
    form {        
        margin-top: 20px;
        padding: 20px;
        flex-direction: column;       
    }
    .user { 
        width: 300px;       
        flex-direction: row;
        justify-content: space-between;        
        padding: 10px 0;
        border-bottom: 1px solid grey;

        &:last-child {
            border-bottom: none;
        }
    }
}